<strong>Olá, {{ delivery }} </strong>
<p>A sua entrega foi <b>concelada</b>, abaixo estão as informações do cancelamento:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Cliente: </strong> {{ recipientName }} <br />
</p>
